<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happyroad.wy.dao.TableAnalyDao">



	<select id="getCurrenData" resultType="com.happyroad.wy.entity.TableAnaly">

        SELECT table_name as tName ,table_rows as tRows , table_comment tComments , ( DATE_FORMAT(CURRENT_TIME(), 'y%m%d%H%i')) as period FROM information_schema.TABLES
        WHERE   TABLE_SCHEMA  = 'happyroad'      and table_name!='sys_table_analy'  ORDER BY table_rows DESC

	</select>




    <!-- 批量插入多条数据 -->
    <insert id="insertBatch" parameterType="java.util.List">

        INSERT INTO sys_table_analy(


        `t_name`,
        table_rows,
        t_comment,
        period

        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (


            #{item.tName},
            #{item.tRows},
            #{item.tComments},
            #{item.period}


            )
        </foreach>
    </insert>

    <insert id="thisTableCurrentRows" parameterType="string">

        select tRows
        from sys_table_analy where t_name= #{tName}

    </insert>


</mapper>
